<div class="main-header">
    <mat-toolbar color="primary">
    <button mat-icon-button class="menu-icon mr-3" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Church Portal</span>
    <span class="ml-3 mt-2">
        <mat-icon>home</mat-icon>
    </span>
    <span class="example-spacer"></span>
    <div class="mr-3">
        <div class="display-user-name">Jaspher</div>
        <div class="disaplay-user-role">Developer</div>
        </div>
    <div class="user-icon"><mat-icon>person_outline</mat-icon></div>
  </mat-toolbar>
</div>
  
<router-outlet></router-outlet>