/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


$mat-myapp-primary: (
    50 : #e0eff9,
    100 : #b3d7ef,
    200 : #80bce5,
    300 : #4da1da,
    400 : #268cd2,
    500 : #0078ca,
    600 : #0070c5,
    700 : #0065bd,
    800 : #005bb7,
    900 : #0048ab,
    A100 : #d4e3ff,
    A200 : #a1c2ff,
    A400 : #6ea1ff,
    A700 : #5590ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-myapp-accent: (
    50 : #fffaed,
    100 : #fff4d1,
    200 : #ffecb3,
    300 : #ffe494,
    400 : #ffdf7d,
    500 : #ffd966,
    600 : #ffd55e,
    700 : #ffcf53,
    800 : #ffca49,
    900 : #ffc038,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff5e1,
    A700 : #ffedc8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

$black: #2b2c33;
$primary: #0078ca;
$lightblue: #6d76cd;
$gray1:#a5afc3;
h1.heading-lg {
    font-size: 30px;
    color: $black;
    margin:20px 0 30px 0;
}
h2.heading-md {
    font-size: 20px;
    color: $black;
    margin:10px 0 15px 0;
}
h4.sub-heading {
    font-size: 20px;
    color: $primary;
    margin:10px 0 20px 0;
}

html, body { height: 100%;font-size: 14px;color: $black; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f6f7fb;}

input.form-control{
    // height: 25px;
    // border: 0;
    // border-bottom: 1px solid #9e9e9e;
    border-radius: 10px;
    box-shadow: 0 0;
    font-weight: 500;
    color: $primary;
}
input[type=text].form-control:focus {
    box-shadow: 0 0;
    border-bottom: 2px solid#80bdff;
}
.cursor-pointer {
    cursor: pointer;
}
